#textContainer {
    -webkit-animation: floating 3s ease-in-out infinite alternate;
}

@keyframes floating {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); 
    }
}

#textContainer1 {
    position: relative;
    top: 500px;
    width: 50vw;
    margin: auto;
    padding-bottom: 200px;
    animation: floating2 2.5s ease-in-out infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* border: 1px solid black; */
}

@keyframes floating2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
}

#textContainer2 {
    position: relative;
    top: 500px;
    left: 45vw;
    width: 45vw;
    padding-bottom: 100px;
    text-align: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* border: 1px solid black; */
    
    animation: floating3 2.5s ease-in-out infinite alternate;
}

@keyframes floating3 {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(12px); 
    }
}

#textContainer3 {
    position: relative;
    top: 500px;
    right: 0px;
    width: 50vw;
    padding-bottom: 100px;
    text-align: left;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /* border: 1px solid black; */
    
    animation: floating3 3s ease-in-out infinite alternate;
}

@keyframes floating3 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px); 
    }
}


.content button {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    padding-left: 7px;
    padding-right: 7px;
    margin: 5px;
    border-radius: 15px;
    border-color: black; 
    animation: fadein 1s forwards;
    transition: ease-in-out 0.5s;
}

@keyframes fadeIn{
    0%{transform:translate(0px, 100px); opacity: 0;}
    100%{transform:translate(0px, 0); opacity: 1;}
  }

.content button:hover {
    color:#ffffff;
    background: #000000;
    cursor: pointer;
    box-shadow: 0 0 15px #000000;
  }

  .abandon:hover {
    transition-duration: 1s;
    color:#ceb196;
  }


  @media only screen and (max-width: 768px) {
    .content{
        font-size: 1.5rem;
    }

    .content button {
        font-size: 1.5rem;
    }

    #textContainer1 {
        width: 70vw;
    }
    
    
    #textContainer2 {
        left:4vw;
        width: 70vw;
    }

    
    #textContainer3 {
        left:4vw;
        width: 70vw;
    }
  }