.content1 {
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.75rem;
    padding: 50px; 
    text-align: left;
    width:40vw;
    border: 1px solid black;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width:500vw;
    transform:rotate (90deg) translateY(-100vh);
    transform-origin: top left;
}

.outerwrapper {
    position:fixed;
    width:100vw;
    height: 100vh;
    transform:rotate (-90deg) translateX(-100vh );
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: row;
}

.child1 {
    width:80vw;
    padding-right: 20vw;
    text-wrap: wrap;
}
